/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	    font-family:'Roboto',sans-serif;

	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ======================================================== */
.nav {
    display: flex;
    height: 100px;
    background-color: white;
    justify-content: space-between;
    border-radius: 20px;
    opacity: 60%;
    margin-bottom: 20px;
    width: 80%;
    margin-top: 10px;
    align-items: center;
    min-width: 1000px;

}
.mlogo img{
    margin-left: 30px;
    height: 100px
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    z-index: 100;
}
.shade{
    background-color: #36183293;
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 100;
}
body {
    display: flex;
    justify-content: center;
    background-color: lightblue;
    
}
#lineChart {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    width: 1000px;
    z-index: 1;
}
#barChart {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    width: 1000px;
    position: absolute;
    z-index: 0;
    display: none;
}
.graphs {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    border-radius: 25px;
    margin: 20px
}

.loading {
    background-color: white;
    height: 500px;
    width: 1000px;
    z-index: 2;
    position: absolute;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.button1{
    
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    font-size: 40px;
}
a.button1:hover{
    color:#86377b;
    background-color:#FFFFFF;
    cursor: pointer;
}
a.button2{
    
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    font-size: 20px;
}
a.button2:hover{
    color:#86377b;
    background-color:#FFFFFF;
    cursor: pointer;
}
.button3{
    
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0.35em 1.2em;
    border:0.1em solid #86377b;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    font-family:'Roboto',sans-serif;
    font-weight:500;
    color:#86377b;
    text-align:center;
    transition: all 0.2s;
    font-size: 20px;
    z-index: 14;
}
.button3:hover{
    color:#86377b;
    background-color:rgb(255, 255, 255);
    cursor: pointer;
    z-index: 14;
}
.graphChoice {
    display: flex;
}

.links{
    position: relative;
    display: flex;
    justify-content: space-around;
    width:300px;
    height: 100%;
    align-items: center;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #86377b;
    font-size: 18px;
    height: 80%;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

.spacer{
    width: 40px;
}
button {
    height: 80px;
    width: 200px;
    font-size: 1.25em;
    font-weight: bold;
    background-color: #cc1eb5;
    border: none;
    padding: .5em 1em;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    transition: background .4s ease, color .4s ease;
    border: 2px solid #cc1eb5;
    
}
button:hover {
    color: #cc1eb5;
    background-color: transparent;
}
/* ======================================================== */

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

/* ++++++++++++++++++++++modal */

.modalbtn{
    margin-right: 20px;
}
.modal {
    width: 60%;
    height: 750px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 10px;
    z-index: 100;
    margin-top: 25px;
    display: none;
    min-width: 500px;
    max-width: 1000px;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
  background-color: #bd37ab;
  border-radius: 10px;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: black;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.moreinfo {
    font-size: 24px;
    color: #5010a5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    text-align: center;
    /* overflow: auto; */

}
.moreinfo p {
    margin: 10px;
}
.ankit {
    /* margin-top: 100px; */
    width: 100%;
}
.ankit p {
    margin-top: 50px;
}
.links {
    display: flex;
    
    width: 100%;
}
.modalimg{
    width:200px;
}